.field-select {
  position: relative;
  font-size: 1rem;
}
.field-select select {
  appearance: none;
  padding: .5em 1em;
  border-radius: 4px;
  border: 0;
  color: var(--clr-text);
  box-shadow: var(--shadow-elevation-medium);
  background-color: var(--clr-elements);
  min-height: calc(1.4em + 26px);
  padding: .7em 3.8em .7em .8em;
  outline: 0;
}
.field-select::after {
  border-bottom: 2px solid var(--clr-text);
  border-right: 2px solid var(--clr-text);
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  pointer-events: none;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translate(0, -65%) rotate(45deg);
}
.field-select select:focus ~ fieldset {
  border-color: var(--clr-input-active);
}
.field-select:hover > fieldset {
  border-color: var(--clr-input-active);
}
.field-select fieldset {
  position: absolute;
  inset: 0;
  border-radius: 4px;
  pointer-events: none;
  border-color: transparent;
}