.wrapper {
  padding: 2rem 0;
}
.controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 375px) {
  .controls {
    padding: 0 .5rem;
  }
}