.form__field {
  position: relative;
  font-size: 1rem;
  flex-basis: 35%;
  color: var(--clr-text);
}
.field__body {
}
.field__footer {
  padding: 0.2em;
  font-size: 0.8rem;
  font-weight: bold;
}
.field-input {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--clr-elements);
  padding-left: 1em;
  border-radius: 4px;
  box-shadow: var(--shadow-elevation-medium);
}
.field-input input {
  border: 0;
  outline: 0;
  padding-left: 0.5em;
  line-height: 2.5em;
  flex-grow: 1;
  background-color: inherit;
  color: var(--clr-input);
  border-radius: 4px;
}
.field-input input::placeholder {
  color: var(--clr-input);
}
.field-input input:focus ~ fieldset {
  border-color: var(--clr-input-active);
}
.field-input:hover > fieldset {
  border-color: var(--clr-input-active);
}
.field-input fieldset {
  position: absolute;
  inset: 0;
  border-radius: 4px;
  pointer-events: none;
  border-color: transparent;
}
.left-adornment {
  font-size: 1.2em;
  color: var(--clr-input);
}
@media (max-width: 375px) {
  .form__field {
    flex-basis: 100%;
    font-size: 0.8rem;
  }
}
