.header {
  background-color: var(--clr-elements);
  width: 100%;
  font-size: 1rem;
  position: relative;
  box-shadow: var(--shadow-elevation-medium);
}
.container {
  max-width: var(--vw-desktop-min);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}
.header h1 {
  color: var(--clr-text);
}
@media (max-width: 375px) {
  .header {
    font-size: 0.4rem;
  }
  .header .container {
    padding: 2em 1em;
  }
}
